{% extends "master.html" %}
{% block content %}
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6" shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-info">{{ person.name }}</h2>
            <p class="">{{ person.email }}</p>
            <p>{{ person.phone }}</p>
            <p>{{ person.dob }}</p>
            <p>Weight{{ person.gender}} kgs</p>
            <p>Height{{ person.weight }} cm</p>
            <p>{{ person.height }}</p>
        </div>
    </div>
</div>
    
{% endblock %}